@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: lightgray;
}

header{
    background-color: gray;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 8px;
    margin-bottom: 10px;
}

section#geral{
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
}

article#perfil{
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    grid-column: 2/3;
    margin-bottom: 10px;
}

p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

h2{
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-align: center;
    background-color: black;
    color: white;
    transition: background-color 0.5s, text-decoration 0.5s;
}

h2:hover{
    background-color: gray;
    text-decoration: underline;
}

h3{
    font-size: 1.3rem;
    margin-bottom: 5px;
    text-decoration: underline;
    text-align: end;
    transition: background-color 0.5s, padding 0.5s;
}
h3:hover{
    background-color: gray;
    padding: 5px;
}


article#perfil img{
    border-radius: 50%;
    border: 3px solid lightgray;
    outline: 3px solid black;
    width: 30vw;
    height: 30vh;
    margin-bottom: 5px;
}

article#detalhes{
    grid-column: 2/3;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
}

