@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}

body{
    background-color: lightgray;
    width: 100%;
    height: 100%;
}

main{
    position: relative;

    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;

    display: grid;
    grid-template-columns: 1fr 1fr;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    text-align: center;
    width: 800px;
    height: 600px;
}

article{
    border: 2px dotted black;
}

article#Rd1{
    grid-column: 1/2;
}

article#Rd2{
    grid-column: 2/3;
}